body {
    background-color: #CCC;
}

.container {
    margin-top: 2rem;
}

.title {
    margin-bottom: 3rem;
    text-align: center;
    color: #313131;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.page-item {
    list-style: none;
    padding: 3px 8px;
    margin-right: 2px;
    font-size: 18px;
}

.page-link {
    text-decoration: none;
}

.loader-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.list-group {
    margin-bottom: 4rem;
}

.list-group-item {
    list-style: none;
    font-size: 20px;
    padding: 1rem;
    color: #313131;
    text-align: center;
    font-weight: 600;
    margin: 2px auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}